@use 'sass:map';
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../mixins/scrollbar" as *;
@use "../abstracts/placeholder" as *;

// FORM & FORM ELEMS CUSTOMIZATION
.form-custom {
  %form-input-common {
    height: 52px !important;
    border: 1px solid transparent!important;
    border-radius: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    color: color("onyx-500") !important;
    box-shadow: none;
    font-weight: 500;
    outline: none;
    font-size: 16px;

    @include placeholder() {
      font-weight:500;
      font-size: 16px;
      font-family: inherit;
      color: color("gray-400") !important;
    }

    @include breakpoint-down(lg) {
      font-size: 14px;
      height: 48px !important;
    }

    @include breakpoint-down(md) {
      border-radius: 6px !important;
    }

    @include breakpoint-down(sm) {
      height: 44px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    @include breakpoint-down(xs) {
      height: 40px !important;
    }
  }

  .form-control {
    @extend %form-input-common;
    background: rgba(235, 245, 251, 0.4);
    border: 1px solid transparent;
    transition: $default-transition;

    &::placeholder{
      font-weight: 500;
      font-size: 16px;
      font-family: inherit;
      color: color("gray-400") !important;
      transition: $default-transition;
    }

    &:focus{
      border-color: color("primary-500")!important;
    }
  }

  textarea {
    &.form-control {
      height: 120px !important;

      &.long-textarea{
        height: 126px!important;
      }
    }
  }

  .form-select {
    @extend %form-input-common;
    // bootstrap select icon customization
    background-color: rgba(235, 245, 251, 0.4);
    background-size: 16px 16px !important;
  }
}

.form-label {
  font-family: $font-family-instrument-sans;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: color("gray-700");
  margin-bottom: 0 !important;

  @include breakpoint-down(md) {
    font-size: 14px;
  }
}

.form-elem-ttl {
  margin-bottom: 12px;
  color: $onyx-500;
}

.form-check-input {
  @include box(20px);
  border-radius: 4px;
}

.form-elem {
  display: grid;
  row-gap: 8px;

  &-group {
    display: grid;
    gap: 16px;

    @include breakpoint-down(md) {
      row-gap: 16px;
    }

    @include breakpoint-down(sm) {
      row-gap: 12px;
    }
  }
}

.form-link {
  color: color("primary-500");
  text-decoration: underline;
  transition: $default-transition;

  &:hover {
    opacity: 0.9;
  }
}

.form-error-text {
  font-size: 12px;
  color: map.get($colors, "danger");
  font-weight: 400;
}

.form-select {
  background-image: url($icon-path + "/chevron_down_primary.svg") !important;
}

.form-check {
  &-input {
    &:focus,
    &:active,
    &:checked {
      box-shadow: none !important;
    }

    &:checked {
      background-color: color("primary-500") !important;
      border-color: color("primary-500") !important;
    }
  }
}

.password-form-elem {
  .form-control-wrapper {
    position: relative;
    .form-elem-icon {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .form-elem-icon {
    pointer-events: initial !important;

    &.show-password {
      .un-slashed {
        display: inline-flex;
      }
      .slashed {
        display: none;
      }
    }

    img {
      pointer-events: none;
    }
  }

  .un-slashed {
    display: none;
  }
}

// PHONE INPUT
.form-elem-phone {
  display: grid;
  grid-template-columns: 180px auto;

  @include breakpoint-down(sm){
    grid-template-columns: 100%;
  }
}

input:-webkit-autofill{
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: color("onyx-500");
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px color("white") inset;
  -webkit-box-shadow: 0 0 0px 1000px color("white") inset;
}
