@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.pagination-block {
    &.blogs-pagination {
        .pagination{
            background: rgba(255,255,255, 0.5);
        }
        .page-link{
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            box-shadow: none !important;
            border: 1px solid color("primary-100");

            &:hover,
            &:focus,
            &.active,
            &.current {
                background: color("primary-100") !important;
                color: color("primary-500") !important;

                .page-num {
                    color: color("primary-500") !important;
                }
            }

            &-num{
                color: color("primary-500")!important;

                &[disabled]{
                    opacity: 0.7;
                    pointer-events: none;
                }
            }
        }
    }
}
