@use "sass:color";
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.swiper {
    width: 100%;
    height: 100%;
}

.home-clients-slider {
    .clients-slide {
        width: 152px;
        height: 92px;

        @include breakpoint-down(lg) {
            width: 140px;
            height: 80px;
        }

        @include breakpoint-down(md) {
            width: 120px;
            height: 72px;
        }

        @include breakpoint-down(sm) {
            width: 100px;
            height: 60px;
        }

        @include breakpoint-down(xs) {
            width: 80px;
            height: 40px;
        }
    }
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: $primary-150;
    opacity: 1;

    @include breakpoint-down(lg) {
        width: 14px;
        height: 14px;
    }

    @include breakpoint-down(sm) {
        width: 12px;
        height: 12px;
    }

    &.swiper-pagination-bullet-active {
        background: $primary-500;
    }
}

.swiper-button-prev,
.swiper-button-next {
    width: 44px;
    height: 44px;
    background: color("primary-50");
    border-radius: 100%;

    @include breakpoint-down(xl) {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    @include breakpoint-down(lg) {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    @include breakpoint-down(lg) {
        width: 32px;
        height: 32px;
        line-height: 32px;
    }

    &::after {
        font-size: 20px;
        font-weight: bold;
        color: color("primary-500");

        @include breakpoint-down(xl) {
            font-size: 18px;
        }

        @include breakpoint-down(md) {
            font-size: 16px;
        }

        @include breakpoint-down(sm) {
            font-size: 14px;
        }
    }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 0);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 0);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}
.atech-clients-reviews-container .swiper-horizontal > .swiper-pagination-bullets,
.atech-clients-reviews-container .swiper-pagination-bullets.swiper-pagination-horizontal,
.atech-clients-reviews-container .swiper-pagination-custom,
.atech-clients-reviews-container .swiper-pagination-fraction {
    bottom: 40px;
}
