@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

$table-bg-color: $white !default;
$table-bg-color-accent: #f9f9f9 !default; // Background color used for `.table-striped`.
$table-bg-color-hover: inherit !default;
$table-border-color: $onyx-100 !default; // Border color for table and cell borders.
$table-th-cell-padding: 8.5px 10px !default;
$table-td-cellpadding: 20px 10px !default;

// BASELINE STYLES
table {
  width: 100%;
  max-width: 100%;

  // CELLS
  th {
    padding: $table-th-cell-padding;
  }
  td {
    padding: $table-td-cellpadding;
  }
}

.table-wrapper {
  border-radius: 4px;
  overflow-x: scroll;

  table {
    min-width: 800px;
  }

  th,
  td {
    color: #5d5d5d;
    font-size: 14px;
  }

  thead {
    th {
      background: #f6f6f6;
      font-weight: 400;
      border-bottom: 0;
      text-align: center;
    }
  }

  tbody {
    td {
      border-bottom: 1px solid $onyx-100;
      vertical-align: middle;
      text-align: center;
    }
  }
}
