@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.atech-footer{
  background: url($img-path + "misc/footer_bg.png") center/cover no-repeat;

  &-grid-block{
    .footer-brand{
      &-logo{
        max-width: 148px;

        @include breakpoint-down(sm){
          max-width: 120px;
        }

        @include breakpoint-down(xs){
          max-width: 100px;
        }
      }
    }
  }

  &-grid-block{
    grid-template-columns: 4fr 2fr 2fr 2.5fr 3.5fr;
    gap: 40px;

    @include breakpoint-down(xxl){
      gap: 24px;
    }

    @include breakpoint-down(lg){
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }

    @include breakpoint-down(sm){
      grid-template-columns: 100%;
      gap: 24px;
    }
  }

  .footer-block{
    &-list{
      &-link{
        transition: $default-transition;
        &:hover{
          color: color("primary-500")!important;
        }
      }
    }

    &-lead{
      @include breakpoint-down(sm){
        max-width: 360px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}