@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

$z-index-header: 1000;

.atech-header{
  min-height: 90px;
  z-index: $z-index-header;

  &-btns{
  }
}