@use "sass:color";
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// NAVBAR
$navbar-height-desktop: 80px;
$navbar-height-mobile: 80px;
$navbar-bg: transparent;
$navbar-link-color: $onyx-100;
$navbar-hover-link-color: color.adjust($onyx-100, $lightness: -10%);
$z-index-navbar: 1000;
$z-index-navbar-toggler: 1010;

.atech-navbar {
  .navbar-brand {
    max-width: 100px;
  }

  .atech-menu {
    border-radius: 60px;

    .menu-link {
      &-text {
        &:hover {
          opacity: 0.85;
        }
      }
    }

    // ATEL SUBMENU STYLINGS
    &-submenu {
      visibility: hidden;
      opacity: 0;
      max-width: 1280px;
      width: 100%;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 24px;

      .submenu-services{
        &-list{
          column-gap: 60px;
          row-gap: 12px;
        }
      }

      .submenu-services-item{
        &-icon{
          width: 68px;
          height: 68px;
          min-width: 68px;
        }

        &-ttl{
          transition: $default-transition;
        }

        &:hover{
          .submenu-services-item-ttl{
            color: color("primary-500")!important;
          }
        }
      }
    }
  }

  .atech-submenu-list{
    .menu-submenu-portfolios{
      .nav-pills{
        min-width: 220px;
      }

      .submenu-portfolios{
        &-item{
          &-img{
            min-width: 140px;
            width: 140px;
            height: 100px;
          }

          &-ttl{
            transition: $default-transition;
          }

          &:hover{
            .submenu-portfolios-item{
              &-ttl{
                color: color("primary-500")!important;
              }
            }
          }
        }

        &-list{
          column-gap: 40px;
          row-gap: 20px;
        }
      }
    }
  }
}
