@use "sass:color";
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../mixins/scrollbar" as *;

// NAVBAR
$navbar-height-desktop: 80px;
$navbar-height-mobile: 80px;
$navbar-bg: transparent;
$navbar-link-color: $onyx-100;
$navbar-hover-link-color: color.adjust($onyx-100, $lightness: -10%);
$z-index-navbar: 1000;
$z-index-navbar-toggler: 1010;

.atech-navbar {
  .navbar-brand {
    max-width: 100px;

    @include breakpoint-down(xl) {
      max-width: 88px;
    }

    @include breakpoint-down(sm){
      max-width: 72px;
    }
  }

  &-overlay-bg {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    visibility: hidden;
    opacity: 0;
    transition: $default-transition;

    &.is-open {
      visibility: visible;
      opacity: 1;
    }
  }

  .atech-menu {
    border-radius: 60px;
    transition: $default-transition;

    @include breakpoint-down(xl) {
      flex-direction: column;
      height: 100%;
      border-radius: 20px;
      justify-content: center;
      width: 100%;
      min-width: 100%;
      margin-top: 24px;
    }

    &-parent {
      @include breakpoint-down(xl) {
        position: fixed;
        top: 0;
        right: 0;
        width: 400px;
        height: 100%;
        z-index: 999;
        padding: 20px;
        background: color("white");
        transform: translateX(100%);
        transition: $default-transition;
        overflow: hidden;

        &.is-open {
          transform: translateX(0);
        }
      }

      @include breakpoint-down(sm) {
        width: 100%;
        padding: 16px 20px;
      }

      .navbar-brand {
        max-width: 76px;

        @include breakpoint-down(sm) {
          max-width: 64px;
        }
      }

      &-inner {
        display: flex;
        overflow: hidden;

        &.is-open {
          .atech-menu {
            margin-left: calc(-400px + 40px);

            @include breakpoint-down(sm) {
              margin-left: -100%;
            }
          }
        }
      }
    }

    &-item {
      @include breakpoint-down(xl) {
        padding: 20px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px dashed color("primary-150");
        padding-left: 0 !important;
        padding-right: 0 !important;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &-link {
      @include breakpoint-down(xl) {
        text-transform: uppercase;
        width: 100%;
        justify-content: flex-start;
      }
    }

    .menu-link {
      &-text {
        &:hover {
          opacity: 0.85;
        }

        @include breakpoint-down(xl) {
          font-weight: 700;
        }
      }

      &-icon {
        @include breakpoint-down(xl) {
          margin-left: auto;
          transform: rotate(-90deg);
        }
      }
    }

    // ATEL SUBMENU STYLINGS
    &-submenu {
      visibility: hidden;
      opacity: 0;
      max-width: 1280px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 80px;

      @include breakpoint-down(xxxl) {
        max-width: 1240px;
      }

      @include breakpoint-down(xxl) {
        max-width: 1140px;
      }

      @include breakpoint-down(xl) {
        position: relative !important;
        left: 0;
        right: 0;
        top: 0;
        transform: none;
        width: 100%;
        margin: 0;
        border-radius: 0 !important;
        max-height: calc(100vh - 104px);
        @include scrollbar("y");
        padding: 0;
        box-shadow: none !important;
        visibility: visible !important;
        opacity: 1 !important;
        display: none !important;

        &.is-open {
          display: block !important;
        }
      }

      .submenu-services {
        &-list {
          column-gap: 60px;
          row-gap: 12px;

          @include breakpoint-down(xxxl) {
            column-gap: 52px;
          }

          @include breakpoint-down(xxl) {
            column-gap: 48px;
            row-gap: 8px;
          }

          @include breakpoint-down(xl) {
            column-gap: 40px;
            row-gap: 6px;
          }
        }
      }

      .submenu-services-item {
        @include breakpoint-down(sm) {
          padding-left: 0 !important;
        }

        &-icon {
          width: 68px;
          height: 68px;
          min-width: 68px;

          @include breakpoint-down(sm) {
            width: 52px;
            height: 52px;
            min-width: 52px;
          }
        }

        &-ttl {
          transition: $default-transition;
        }

        &:hover {
          .submenu-services-item-ttl {
            color: color("primary-500") !important;
          }
        }
      }
    }
  }

  .atech-submenu-list {
    @include breakpoint-down(xl) {
      width: 100%;
      min-width: 100%;
    }

    .menu-submenu-portfolios {
      .nav-pills {
        min-width: 220px;

        @include breakpoint-down(xl) {
          row-gap: 4px !important;
          column-gap: 12px !important;
        }

        .nav-link {
          @include breakpoint-down(xl) {
            height: auto;
            padding: 0 !important;
            border: 0 !important;
          }

          &:hover {
            background: color("primary-50") !important;

            @include breakpoint-down(xl) {
              background: transparent !important;
              color: color("onyx-900");

              .btn-text {
                text-decoration: underline;
              }
            }
          }

          .btn-text {
            @include breakpoint-down(xl){
              color: color("onyx-400")!important;
            }
            @include breakpoint-down(md) {
              font-size: 14px !important;
            }
          }

          &.btn {
            &.btn-primary {
              @include breakpoint-down(xl) {
                background: color("white") !important;
              }

              &:hover {
                background: color("onyx-900") !important;
                border-color: color("onyx-900") !important;

                @include breakpoint-down(xl) {
                  background: transparent !important;

                  .btn-icon,
                  .btn-text {
                    color: color("onyx-900") !important;
                  }
                }
              }

              .btn-icon,
              .btn-text {
                color: color("onyx-700") !important;
              }
            }
          }
        }
      }

      .submenu-portfolios {
        &-item {
          &-img {
            min-width: 140px;
            width: 140px;
            height: 100px;

            @include breakpoint-down(xl) {
              min-width: 108px;
              width: 108px;
              height: 100px;
            }

            @include breakpoint-down(sm) {
              min-width: 80px;
              width: 80px;
              height: 76px;
            }
          }

          &-ttl {
            transition: $default-transition;
          }

          &:hover {
            .submenu-portfolios-item {
              &-ttl {
                color: color("primary-500") !important;
              }
            }
          }
        }

        &-list {
          column-gap: 40px;
          row-gap: 20px;

          @include breakpoint-down(xxxl) {
            column-gap: 32px;
            row-gap: 18px;
          }

          @include breakpoint-down(xxl) {
            column-gap: 28px;
            row-gap: 16px;
          }

          @include breakpoint-down(xl) {
            column-gap: 24px;
            row-gap: 12px;
          }
        }
      }
    }

    .submenu {
      &-bottom {
        .submenu-contact-info {
          .info-item-text {
            @include breakpoint-down(xl) {
              font-size: 14px !important;
            }

            @include breakpoint-down(lg) {
              font-size: 12px !important;
            }
          }

          .info-item-icon {
            @include breakpoint-down(xl) {
              width: 32px;
              height: 32px;
              min-width: 32px;
              min-height: 32px;
            }

            .icon-18 {
              @include breakpoint-down(xl) {
                width: 16px;
                height: 16px;
                min-width: 16px;
                min-height: 16px;
              }
            }
          }
        }
      }
    }
  }
}
