@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

::selection {
  background: color("primary-500") !important;
  color: color("white");
  text-shadow: none;
}
::-moz-selection {
  background: color("primary-500");
  color: color("white");
  text-shadow: none;
}
::-webkit-selection {
  background: color("primary-500");
  color: color("white");
  text-shadow: none;
}

// SHAPES STYLINGS
.dotted-box-shape {
  width: 140px;
}

.spiral-arrow-shape {
  width: 60px;

  @include breakpoint-down(lg){
    width: 48px;
  }

  @include breakpoint-down(sm){
    width: 32px;
  }
}

.floating-element-1 {
  right: 96px;
  top: -48px;

  @include breakpoint-down(lg) {
    display: none !important;
  }
}

.floating-element-2 {
  max-width: 204px;
  width: 100%;
  top: 40px;
  right: calc(100% + 120px);

  @include breakpoint-down(xxxl) {
    right: calc(100% + 60px);
  }

  @include breakpoint-down(xxl) {
    right: calc(100% + 40px);
  }

  @include breakpoint-down(xl) {
    display: none !important;
  }
}