@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.atech-about-banner {
  background: url($img-path + "about/about_us_banner_bg.png") top/cover no-repeat;

  .about-banner-group {
    gap: 140px;

    @include breakpoint-down(xxxl) {
      gap: 120px;
    }

    @include breakpoint-down(xxl) {
      gap: 100px;
    }

    @include breakpoint-down(xl) {
      gap: 80px;
    }
  }

  .about-banner-segment {
    &-one {
      gap: 80px;

      @include breakpoint-down(xxl) {
        gap: 60px;
      }

      .about-banner-segment-img {
        .floating-elem-one {
          background: linear-gradient(to bottom, rgba(13, 136, 255, 0.9), rgba(13, 136, 255, 0.8));
          width: 260px;
          top: -30px;
          left: 24px;
        }

        .floating-elem-two {
          background: linear-gradient(to bottom, rgba(255, 136, 90, 0.9), rgba(255, 136, 90, 0.8));
          width: 260px;
          left: 50%;
          transform: translateX(-50%);
          bottom: -55px;
        }
      }
    }

    &-two {
      .banner-segment-two-grid {
        grid-template-columns: 55% auto;
        gap: 80px;

        @include breakpoint-down(xxl) {
          grid-template-columns: repeat(2, 1fr);
          gap: 72px;
        }

        @include breakpoint-down(lg) {
          grid-template-columns: 100%;
          gap: 60px;
        }
      }

      .about-banner-segment-img {
        &::after {
          content: "";
          position: absolute;
          background: color("primary-150");
          left: 68px;
          top: -20px;
          bottom: 20px;
          right: -24px;
          border-radius: 20px;

          @include breakpoint-down(xl) {
            left: 36px;
            top: -16px;
            bottom: 16px;
            right: -16px;
            border-radius: 28px;
          }

          @include breakpoint-down(sm){
            display: none;
          }
        }
      }

      .about-stats {
        &-item {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

.atech-about-mvg {
  background: url($img-path + "about/mvg_bg.png") center/cover no-repeat;

  .about-mvg {
    &-grid {
      gap: 80px;

      @include breakpoint-down(xxl) {
        gap: 60px;
      }

      @include breakpoint-down(lg) {
        gap: 40px;
      }
    }

    &-img {
      &:nth-child(1) {
        grid-column: 1 / 3;
        height: 380px;

        @include breakpoint-down(xs){
          grid-column: 1;
        }
      }

      &:nth-child(2) {
        height: 240px;
      }
    }

    &-quote {
      .ceo-quote {
        &-text {
          font-style: italic;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: -1px;
        width: 97px;
        height: 51px;
        background: url($img-path + "about/curved_quote_floating_element.svg") center/contain no-repeat;
      }
    }

    &-details {
      background: rgba(235, 245, 251, 0.5);

      .mvg-details {
        &-item {
          &-icon {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }
}

.atech-services-offers {
  background: url($img-path + "about/service_offering_bg.png") top/cover no-repeat;

  @include breakpoint-down(xxxl) {
    background-size: 1000px 1000px;
    background-position: center left;
  }

  @include breakpoint-down(xxl) {
    background-size: 800px 800px;
    background-position: top left;
  }

  .services-offers {
    &-grid {
      grid-template-columns: 40% auto;
      gap: 60px;

      @include breakpoint-down(lg) {
        grid-template-columns: 100%;
      }
    }

    &-item {
      position: sticky;
      top: 120px;
      z-index: 1;

      @include breakpoint-down(xxxl) {
        top: 100px;
      }

      @include breakpoint-down(xxl) {
        top: 80px;
      }
    }
  }
}

.atech-services-teams {
  background: url($img-path + "about/teams_bg.png") bottom center/cover no-repeat;

  .services-teams {
    &-list {
      @include breakpoint-down(lg) {
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    &-item {
      .teams-item {
        &-info {
          bottom: 12px;
          left: 12px;
          right: 12px;

          @include breakpoint-down(xxl) {
            bottom: 8px;
            left: 8px;
            right: 8px;
          }

          @include breakpoint-down(xs) {
            bottom: 12px;
            left: 12px;
            right: 12px;
          }

          &-group {
            @include breakpoint-down(xxl) {
              padding: 12px !important;
            }

            @include breakpoint-down(xl) {
              padding: 8px 8px 4px 8px !important;
            }

            @include breakpoint-down(lg) {
              padding: 16px !important;
            }

            @include breakpoint-down(sm) {
              padding: 12px !important;
            }

            @include breakpoint-down(xs) {
              padding: 24px 20px !important;
            }
          }
        }
      }

      &:hover {
        .teams-item-info {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
