@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.atech-about-banner {
  margin-top: 90px;
  background: url($img-path + "about/about_us_banner_bg.png") top/cover no-repeat;

  &-container {
    gap: 60px !important;
  }

  .about-banner-group {
    gap: 140px;
  }

  .about-banner-segment {
    &-one {
      gap: 80px;

      .about-banner-segment-img {
        .floating-elem-one {
          background: linear-gradient(to bottom, rgba(13, 136, 255, 0.9), rgba(13, 136, 255, 0.8));
          width: 260px;
          top: -30px;
          left: 24px;
        }

        .floating-elem-two {
          background: linear-gradient(to bottom, rgba(255, 136, 90, 0.9), rgba(255, 136, 90, 0.8));
          width: 260px;
          left: 50%;
          transform: translateX(-50%);
          bottom: -55px;
        }
      }
    }

    &-two {
      .banner-segment-two-grid {
        grid-template-columns: 55% auto;
        gap: 80px;
      }

      .about-banner-segment-img {
        &::after {
          content: "";
          position: absolute;
          background: color("primary-150");
          left: 68px;
          top: -20px;
          bottom: 20px;
          right: -24px;
          border-radius: 20px;
        }
      }

      .about-stats {
        &-item {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

.atech-about-mvg {
  background: url($img-path + "about/mvg_bg.png") center/cover no-repeat;

  .about-mvg {
    &-grid {
      gap: 80px;
    }

    &-img {
      &:nth-child(1) {
        grid-column: 1 / 3;
        height: 380px;
      }

      &:nth-child(2) {
        height: 240px;
      }
    }

    &-quote {
      .ceo-quote {
        &-text {
          font-style: italic;
        }
      }
    }

    &-details {
      background: rgba(235, 245, 251, 0.5);

      .mvg-details {
        &-item {
          &-icon {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }
}

.atech-services-offers {
  background: url($img-path + "about/service_offering_bg.png") top/cover no-repeat;

  .services-offers {
    &-grid {
      grid-template-columns: 40% auto;
      gap: 60px;
    }

    &-item {
      position: sticky;
      top: 120px;
      z-index: 1;
    }
  }
}
