@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.atech-blog-banner {
  min-height: 800px;

  @include breakpoint-down(xxxl) {
    min-height: 780px;
  }

  @include breakpoint-down(xxl) {
    min-height: 750px;
  }

  @include breakpoint-down(xl) {
    min-height: 720px;
  }

  @include breakpoint-down(lg){
    min-height: 690px;
  }

  @include breakpoint-down(md){
    min-height: 660px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(44, 121, 170, 0.8) 0%,
      rgba(17, 45, 64, 0.8) 80%,
      rgba(22, 60, 85, 0.8) 75%,
      rgba(11, 30, 43, 0.8) 100%
    );
  }

  .segment-heading {
    &-text {
      margin-top: 0 !important;
      margin-bottom: 16px !important;
    }
  }
}

.atech-blogs-showcase {
  margin-top: -360px;

  .blogs-showcase {
    &-grid {
      gap: 48px;

      @include breakpoint-down(xxxl) {
        gap: 40px;
      }

      @include breakpoint-down(xxl) {
        gap: 24px;
      }

      @include breakpoint-down(xl) {
        gap: 40px;
      }
    }

    &-vertical {
      .blogs-showcase-ttl {
        color: color("onyx-700") !important;
      }
    }
  }
}

.atech-blogs-main {
  background: url($img-path + "misc/transparent_waves_bg.png") center/cover no-repeat;

  .blogs-cat {
    &-btn {
      transition: $default-transition;

      @include breakpoint-down(sm){
        padding-top: 6px!important;
        padding-bottom: 6px!important;
      }

      &:not(.is-checked) {
        &:hover {
          background: color("primary-100") !important;
        }
      }

      &.is-checked {
        background: linear-gradient(to bottom, color("primary-400"), color("primary-500"));
        color: color("white") !important;
      }
    }
  }
}

.atech-download-showcase {
  min-height: 880px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #d5e9f6 0%, #ecf3f9 25%, #eef5f9 74%, #d5e9f6 100%);
    opacity: 0.8;
  }
}

.atech-download-showcase {
  .download-showcase-grid {
    gap: 80px;

    @include breakpoint-down(xxl){
      gap: 60px;
    }

    @include breakpoint-down(lg){
      gap: 40px;
    }
  }
}

.atech-blog-detail-banner {
  background: linear-gradient(#d5e9f6 0%, #ecf3f9 33%, #ffffff 67%, #ffffff 100%);
}

.atech-blog-detail-main {
  &-container {
    grid-template-columns: 350px auto;
    gap: 48px;

    @include breakpoint-down(xxl){
      gap: 40px;
      grid-template-columns: 320px auto;
    }

    @include breakpoint-down(lg){
      grid-template-columns: 100%;
    }
  }
}

.blog-detail-widgets {
  gap: 32px;
  position: sticky;
  top: 120px;

  @include breakpoint-down(xxxl){
    gap: 28px;
  }

  @include breakpoint-down(xxl){
    gap: 24px;
  }

  @include breakpoint-down(lg){
    position: relative;
    top: 0;
  }

  .search-widget {
    .form-control {
      &::placeholder {
        color: color("gray-400");
      }
    }
  }

  .bookmark-widget {
    &-head {
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 14px solid color("primary-500");
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }
    }

    &-item {
      & > a {
        padding: 14px 24px;
        position: relative;
        transition: $default-transition;

        @include breakpoint-down(xl){
          padding: 12px 20px;
        }

        &.active {
          color: color("primary-500") !important;
        }

        &:hover {
          color: color("primary-500") !important;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 24px;
          right: 24px;
          height: 1px;
          background: color("white");
        }
      }
    }
  }

  .categories-widget {
    .categories-widget {
      &-item {
        border-bottom: 1px dashed color("primary-150");

        &:last-child {
          border-bottom: 0 !important;
        }

        a {
          transition: $default-transition;
          &:hover {
            color: color("onyx-700") !important;
          }
        }
      }
    }
  }

  .posts-widget {
    &-item {
      padding: 10px;
    }
    .widget-item {
      &-img {
        min-width: 80px;
        width: 80px;
        height: 80px;
      }
    }
  }

  .contacts-widget {
    height: 284px;

    &::after {
      content: "";
      background: linear-gradient(to bottom, #3797d5, #000000);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 50%;
    }
  }
}

.blog-traverse {
  &-prev {
    grid-template-columns: 120px auto;

    @include breakpoint-down(xxxl){
      grid-template-columns: 100px auto;
    }

    @include breakpoint-down(sm){
      border-right: 0!important;
    }
  }
  &-next {
    grid-template-columns: auto 120px;

    @include breakpoint-down(xxxl){
      grid-template-columns: auto 100px;
    }
  }

  &-img {
    height: 100px;
  }
}
