@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.after-ttl-border {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background: color("primary-500");
    height: 6px;
    width: 120px;
    top: calc(100% + 26px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.segment-heading {
  &.heading-left {
    .after-ttl-border {
      &::after {
        left: 0;
        transform: none;
      }
    }
  }
}

.atech-section-group-one {
  background: url($img-path + "home/home_banner_bg.png") no-repeat;
  min-height: 100vh;
  background-color: color("white");
  padding-top: 90px; /* to adjust the fixed navbar /*/
}

.atech-home-banner {
  .banner-product-feats {
    gap: 80px;

    .product-feat-item {
      .feat-item-icon {
        width: 64px;
        height: 64px;
        min-width: 64px;
        transition: $default-transition;

        &::after {
          content: "";
          position: absolute;
          width: 1px;
          background: $primary-400;
          // height: 56px;
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
          height: 0;
          transition: $default-transition;
        }

        &::before {
          content: "";
          position: absolute;
          height: 1px;
          background: $primary-400;
          transition: all 80ms ease-in-out;
        }
      }

      &:hover {
        .feat-item-icon {
          background: $primary-500;

          img {
            filter: invert(1) brightness(100);
          }

          &::after {
            height: 56px;
          }
        }
      }
    }
  }

  .product-feats-left {
    .product-feat-item {
      .feat-item-icon {
        &::before {
          left: 31px;
          top: calc(100% + 55px);
          // width: 480px;
          width: 0;
        }
      }

      &:hover {
        .feat-item-icon {
          &::before {
            transition: $default-transition;
            transition-delay: 300ms;
            width: 480px;
          }
        }
      }
    }
  }

  .product-feats-right {
    .product-feat-item {
      .feat-item-icon {
        order: 2;

        &::before {
          right: 31px;
          top: calc(100% + 55px);
          // width: 480px;
          width: 0;
        }
      }

      &:hover {
        .feat-item-icon {
          &::before {
            transition: $default-transition;
            transition-delay: 300ms;
            width: 480px;
          }
        }
      }

      .feat-item-text {
        order: 12;
      }
    }
  }

  .banner-product-showcase {
    min-width: 440px;
    padding: 60px 80px 0 80px;

    .ellipse-shape {
      width: 400px;
      height: 400px;
      min-width: 400px;
      min-height: 400px;
    }
  }
}

.content-stylings {
  &.remove-paragraph-padding {
    p {
      margin-bottom: 0 !important;
    }
  }

  &.text-white {
    p {
      color: $white !important;
    }
  }

  &.text-onyx-400 {
    p {
      color: $onyx-400 !important;
    }
  }
}

.floating-element-1 {
  right: 96px;
  top: -48px;
}
.floating-element-2 {
  max-width: 204px;
  width: 100%;
  top: 40px;
  right: calc(100% + 120px);
}

.atech-home-about {
  &-container {
    gap: 80px;
  }

  .home-about-img {
    img {
      scale: 1.5;
    }
  }
}

.atech-clients-summary {
  .clients-brand-logo {
    margin-left: -20px;
  }
}

.atech-clients-reviews {
  background: url($img-path + "home/client_reviews_bg.png") top/cover no-repeat;

  .clients-reviews-tabs {
    .nav-link {
      border: 1px solid transparent !important;

      &-img {
        height: 60px;
      }

      &-rating {
        *[class*="text-"] {
          transition: $default-transition;
        }
      }

      &.active,
      &:hover {
        border-color: $primary-500 !important;

        .nav-link-rating {
          background: $primary-500 !important;

          *[class*="text-"] {
            color: $white !important;
          }
        }
      }
    }
  }

  .clients-reviews-content {
    .swiper-slide {
      padding: 0 12px;
    }
    .tab-pane-slider {
      margin: 0 -12px;
    }
    .tab-reviews-card {
      .card-img {
        width: 68px;
        height: 68px;
        min-width: 68px;
      }
    }
  }
}

.atech-services-offer {
  background: url($img-path + "home/services_offer_bg.png") top/cover no-repeat;

  .services-offers-card {
    padding: 48px 32px;

    .card-vector-1 {
      width: 76px;
    }
    .card-img {
      width: 80px;
      height: 80px;
    }

    .card-underline {
      .line {
        height: 1px;
      }
    }
  }
}

.atech-projects {
  .projects-cards {
    .dotted-box-shape {
      top: -54px;
      left: 65px;
    }
  }

  .projects-card {
    .projects-card-logo {
      width: 120px;
    }

    .card-img {
      height: 360px;
    }
  }
}

.project-stores {
  .stores-item {
    padding: 6px 8px;

    &.bg-white-20 {
      background: rgba(255, 255, 255, 0.2);
    }

    &-info {
      .rating-stars {
        li {
          &.text-white {
            &.unfilled {
              i {
                color: rgba(255, 255, 255, 0.2);
              }
            }
          }

          &.text-primary-500 {
            &.unfilled {
              i {
                color: rgba(55, 151, 213, 0.3);
              }
            }
          }
        }
      }
    }
  }
}

.atech-technologies {
  .spiral-arrow-shape {
    top: 26px;
    left: 100%;
  }

  .dotted-box-shape {
    top: 126px;
    left: -46px;
  }

  .technologies-tabs {
    .nav-link {
      &.active {
        border-bottom: 2px solid $primary-500 !important;
      }
      &.active,
      &:hover {
        color: $primary-500 !important;
      }
    }
  }

  .technologies-item {
    width: 180px;

    &:hover {
      .technologies-item-icon {
        transform: scale(1.1);
      }
    }

    &-icon {
      width: 80px;
      height: 80px;
      transition: $default-transition;
    }
  }
}

.atech-works {
  background:
    linear-gradient(rgba(17, 45, 64, 0.9), rgba(17, 45, 64, 0.9)),
    url($img-path + "home/finest_works_bg.jpg") center/cover no-repeat;

  .finest-works-slider {
    .swiper-slide {
      max-width: 400px;
      width: 100%;
      padding: 0 12px;
    }
    .finest-work-card {
      box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);

      .card-img {
        height: 240px !important;
        overflow: hidden;
      }
    }

    .finest-work-tags {
      &-item {
        &:first-child {
          padding-left: 0 !important;
        }

        &:last-child {
          padding-right: 0 !important;
          border-right: 0 !important;
        }
      }
    }
  }
}

.atech-faqs {
  background: url($img-path + "misc/faqs_bg.png") center/cover no-repeat;

  .faqs-list {
    max-width: 1000px;

    .faqs-item {
      &-head {
        &[aria-expanded="true"] {
          .faqs-item-head-toggler {
            .fa-plus {
              display: none;
            }
            .fa-minus {
              display: block;
            }
          }
        }

        &-toggler {
          .fa-minus {
            display: none;
          }
        }
      }
      &-body {
        transition: all 150ms ease-in-out;
        &.show {
          margin-top: 16px;
        }

        &-text {
          padding-left: 40px;
        }
      }
    }
  }
}

.atech-screenshots {
  .screenshots-btns-slider-wrapper {
    max-width: 1108px;
    padding-left: 84px !important;
    padding-right: 84px !important;

    .screenshots-btn {
      transition: $default-transition;

      &:hover {
        border-color: color("primary-500");
        background: color("primary-100");
      }

      &-img {
        height: 52px;
        padding: 10px 12px;

        img {
          width: auto;
        }
      }

      &-text {
        padding: 10px 12px;
      }
    }
  }

  .screenshots-details-tabs-wrapper {
    background:
      linear-gradient(rgba(55, 151, 213, 0.7), rgba(55, 151, 213, 0.7)),
      url($img-path + "home/screenshots_bg.png") center/cover no-repeat;
  }

  .screenshots-details-tabs {
    .details-tabs-logo {
      max-width: 120px;
    }
  }

  .screenshots-product-slider {
    &.mobile-screenshots {
      .swiper-slide {
        max-width: 365px;
        width: 100%;
      }
    }
  }
}

.atech-contact {
  background: url($img-path + "misc/contact_us_bg.png") center/cover no-repeat;

  .contact-grid-block {
    &-wrapper {
      border-radius: 40px;
    }
  }

  .contact-block-info {
    // background: linear-gradient(135deg, #ffffff 0%, color("primary-50") 50%, color("primary-50") 75%, color("primary-50") 135%);
    border-radius: 32px;
    background: url($img-path + "misc/contact_info_bg.png") center/cover no-repeat;
  }

  .contact-block-feat-points{
    margin-left: 44px!important;
  }

  .contact-block-feat-point{
    position: relative;

    &::after{
      content: "";
      position: absolute;
      left: -44px;
      top: 45%;
      transform: translateY(-50%);
      width: 28px;
      height: 28px;
      background: url($icon-path + "circle_check_outline_onyx_700.svg") center/cover no-repeat;
    }
  }
}

.atech-cta-one{
  background: url($img-path + "misc/cta_bg_one.png") center/cover no-repeat;
  .cta-one-grid-block{
    background: url($img-path + "misc/cta_content_bg_one.png") center/cover no-repeat;
    border-radius: 32px;
    grid-template-columns: 40% auto;
    gap: 160px;
  }
}

.atech-newsletter{
  background: url($img-path + "misc/newsletter_bg.png") center/cover no-repeat;
  background-position: center top;
  position: relative;
  z-index: 5;
  margin-top: -120px;

  .newsletter-top{
    max-width: 600px;
  }

  .newsletter-bottom{
    max-width: 680px;

    .input-group{
      .form-control{
        border: 0!important;
        &:focus{
          border: 0!important;
        }
      }
    }
  }
}