@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.atech-projects-banner {
  margin-top: 90px;
  background: url($img-path + "projects/projects_banner_bg.png") top/cover
    no-repeat;
}

.atech-projects-showcase {
  .projects-btns-slider-wrapper {
    padding-left: 72px;
    padding-right: 72px;

    .swiper-slide {
      width: auto;
      padding-left: 6px;
      padding-right: 6px;
    }

    .projects-btn {
      height: 44px;

      &.is-checked {
        background: color("primary-500");
        color: color("white");
        border-color: color("primary-500") !important;

        .btn-icon {
          img {
            filter: invert(1) brightness(100);
          }
        }
      }
    }
  }

  .projects {
    &-grid-item {
      border-radius: 28px;
      height: 500px;

      &-wrapper {
        margin-bottom: 76px;
      }

      &-logo {
        max-width: 120px;
        height: 40px;
      }

      &-details {
        bottom: -28px;
        left: 28px;
        right: 28px;
      }
    }
  }
}

.atech-our-clients {
  background: linear-gradient(#ebf5fb42, #d7eaf7c9),
    url($img-path + "misc/our_clients_bg.png") top/cover no-repeat;

  .honeycomb {
    --cell-size: 190px;
    --cell-gap: 24px;
    display: flex;
    gap: calc(0.866 /* cos(30deg) */ * var(--cell-gap));
    flex-direction: column;
    align-items: center;

    &-row {
      display: flex;
      gap: var(--cell-gap);
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      outline-offset: -1px;
      aspect-ratio: 1.1547; /* 1/cos(30deg) */
      position: relative;
      width: var(--cell-size);
      filter: drop-shadow(0px 6px 8px rgba(11, 30, 43, 0.05));
    }

    &-cell {
      position: absolute;
      z-index: 1;
      aspect-ratio: 0.866; /* cos(30deg) */
      width: var(--cell-size);
      clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
      overflow: hidden;
      background: color("white") !important;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $default-transition;

      &:hover {
        scale: 1.05;
      }

      img {
        max-width: 100px;
      }
    }
  }
}

.atech-cta-two {
  min-height: 846px;
  margin-bottom: -100px;

  .cta-block {
    background: url($img-path + "misc/spiral_ripple_bg.png") center/cover
      no-repeat;
    padding: 60px;
    border-radius: 40px;
    max-width: 1320px;
    position: relative;

    &-content {
      max-width: 600px;
    }
  }

  .cta-banner {
    margin-top: -198px;
  }
}

.atech-project-single-banner {
  background: url($img-path + "projects/product_details_banner_bg.png")
    top/cover no-repeat;
  margin-top: 90px;
  position: relative;
  overflow-x: clip;
  min-height: 734px;

  &::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      #3797d5 0%,
      #176aa0 50%,
      #3797d5 75%,
      rgba(55, 151, 213, 0.8) 100%
    );
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(2);
    z-index: -1;
    opacity: 0.08;
  }

  .project-single-banner {
    &-info {
      .spiral-long-arrow {
        max-width: 270px;
      }
    }
    &-img {
      padding: 44px 0;
    }
  }
}

.atech-project-details {
  &-group {
    gap: 120px;
  }

  &-block {
    &:nth-child(even) {
      .project-details {
        &-img {
          order: 2;
        }

        &-description {
          order: 1;
        }
      }
    }

    .project-details {
      &-grid {
        gap: 80px;
      }

      &-img {
        &::after {
          content: "";
          position: absolute;
          left: 24px;
          top: -24px;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background: linear-gradient(
            to right,
            #c3e0f2 0%,
            #dfedf6 50%,
            #fafafa 100%
          );
          z-index: -1;
        }
      }
    }
  }
}

.atech-project-details-featured {
  .project-details {
    &-grid {
      gap: 80px;
    }

    &-img {
      max-width: 500px;
      img {
        height: 580px;
        width: auto;
      }
    }
  }
}

.img-with-underlay-ellipse {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 530px;
    width: 100%;
    height: 100%;
    background: url($img-path + "misc/ellipse_1.svg") center/contain no-repeat;
  }
}

.atech-project-stats{
  .project-stats-access{
    border-radius: 28px;
  }

  .stats-access-grid{
    grid-template-columns: auto 200px;
  }
}
