@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.atech-services-banner {
  margin-top: 90px;
  background: url($img-path + "services/services_banner_bg.png") top/cover no-repeat;

  .services-banner-highlights {
    .services-highlights {
      &-item {
        &::after {
          content: "";
          position: absolute;
          right: -3.5px;
          top: 50%;
          transform: translateY(-50%);
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background: color("primary-500");
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.atech-services-main {
  .services {
    &-main {
      &-item {
        gap: 80px;

       &-wrapper{
        &:nth-child(even){
          background: linear-gradient(
            -45deg,
            #d5e9f6 0%,
            #ecf3f9 25%,
            #eef5f9 74%,
            #d5e9f6 100%
          );

          .services-item-img{
            order: 2;

            &::after{
              background: linear-gradient(to left, color("primary-100"), color("primary-150"));
              transform: rotate(-2deg);
            }

            &::before{
              top: -23px;
              left: -23px;
            }
          }

          .services-item-info{
            order: 1;
          }
        }
       }

        .content-stylings{
          ul{
            grid-template-columns: 100%;
          }
        }
      }
    }

    &-item {
      &-icon {
        width: 80px;
        height: 80px;
        min-width: 80px;
      }

      &-img{
        &::after{
          content: "";
          position: absolute;
          top: 36px;
          left: 40px;
          height: 100%;
          right: 20px;
          background: linear-gradient(to right, color("primary-100"), color("primary-150"));
          border-radius: 24px;
          transform: rotate(2deg);
          z-index: -1;
        }

        &::before{
          content: "";
          position: absolute;
          top: -23px;
          right: -23px;
          width: 152px;
          height: 165px;
          background: url($img-path + "misc/dots_vector_vertical_dark.svg") center/contain no-repeat;
          z-index: -1;
        }
      }

      &-projects-link{
        padding: 28px 32px!important;
        border-top-right-radius: 40px!important;
        border-top-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
        height: 78px;
      }

      &-subheading{
        margin-top: 0!important;
      }
    }
  }
}
