@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";
@use "sass:list";

.atech-services-banner {
  background: url($img-path + "services/services_banner_bg.png") top/cover no-repeat;

  .services-banner-highlights {
    .services-highlights {
      &-item {
        &::after {
          content: "";
          position: absolute;
          right: -3.5px;
          top: 50%;
          transform: translateY(-50%);
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background: color("primary-500");
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }

      &-list {
        row-gap: 12px;

        @include breakpoint-down(lg) {
          row-gap: 8px;
        }
      }
    }
  }
}

.atech-services-main {
  .services {
    &-main {
      &-item {
        gap: 80px;

        @include breakpoint-down(md){
          gap: 60px;
        }

        &-wrapper {
          &:nth-child(even) {
            background: linear-gradient(-45deg, #d5e9f6 0%, #ecf3f9 25%, #eef5f9 74%, #d5e9f6 100%);

            .services-item-img {
              order: 2;

              @include breakpoint-down(xl) {
                order: 1;
              }

              &::after {
                background: linear-gradient(to left, color("primary-100"), color("primary-150"));
                transform: rotate(-2deg);
              }

              &::before {
                top: -23px;
                left: -23px;

                @include breakpoint-down(xl){
                  top: -18px;
                  left: -18px;
                }

                @include breakpoint-down(sm){
                  top: -16px;
                  left: -13px;
                }
              }
            }

            .services-item-info {
              order: 1;

              @include breakpoint-down(xl) {
                order: 2;
              }
            }

            .services-item-projects-link {
              border-radius: 24px 0 24px 0 !important;
              right: 0 !important;
              left: auto !important;
            }
          }
        }
      }
    }

    &-item {
      &-icon {
        width: 80px;
        height: 80px;
        min-width: 80px;

        @include breakpoint-down(xxl) {
          width: 72px;
          height: 72px;
          min-width: 72px;
        }

        @include breakpoint-down(xl) {
          width: 60px;
          height: 60px;
          min-width: 60px;
        }

        @include breakpoint-down(sm){
          width: 52px;
          height: 52px;
          min-width: 52px;
        }
      }

      &-img {
        @include breakpoint-down(sm){
          border-radius: 20px!important;
        }
        
        &::after {
          content: "";
          position: absolute;
          top: 36px;
          left: 40px;
          height: 100%;
          right: 20px;
          background: linear-gradient(to right, color("primary-100"), color("primary-150"));
          border-radius: 24px;
          transform: rotate(2deg);
          z-index: -1;

          @include breakpoint-down(xl){
            top: 32px;
            transform: rotate(1.5deg);
          }

          @include breakpoint-down(md){
            top: 24px;
          }

          @include breakpoint-down(sm){
            top: 18px;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: -23px;
          right: -23px;
          width: 152px;
          height: 165px;
          background: url($img-path + "misc/dots_vector_vertical_dark.svg") center/contain no-repeat;
          z-index: -1;

          @include breakpoint-down(xl) {
            top: -19px;
            right: -17px;
            width: 122px;
            height: 135px;
          }

          @include breakpoint-down(md){
            width: 102px;
            height: 115px;
          }

          @include breakpoint-down(sm){
            top: -16px;
            right: -12px;
            width: 82px;
            height: 95px;
          }
        }
      }

      &-projects-link {
        padding: 28px 32px !important;
        border-radius: 0 24px 0 24px !important;
        height: 78px;

        @include breakpoint-down(xxl) {
          padding: 24px 28px !important;
          height: 72px;
        }

        @include breakpoint-down(lg) {
          padding: 20px 24px !important;
          height: 68px;
          border-radius: 0 20px 0 20px !important;
        }

        @include breakpoint-down(sm){
          height: 56px;
        }
      }

      &-subheading {
        margin-top: 0 !important;
      }
    }
  }
}

.atech-track-record {
  background: url($img-path + "services/track_record_bg.png") center/cover no-repeat;

  .track-record-grid {
    gap: 80px;

    @include breakpoint-down(xxl){
      gap: 72px;
    }

    @include breakpoint-down(xl){
      gap: 60px;
    }

    @include breakpoint-down(lg){
      gap: 48px;
    }

    @include breakpoint-down(md){
      gap: 36px;
    }

    @include breakpoint-down(sm){
      gap: 28px;
    }

    @include breakpoint-down(xs){
      gap: 20px;
    }
  }

  .record-stats-item{
    height: 100%;
    
    @include breakpoint-down(lg){
      border-radius: 20px!important;
    }

    @include breakpoint-down(sm){
      border-radius: 16px!important;
    }
  }
}

.atech-services-details-banner {
  margin-top: 90px;
  min-height: 980px;

  @include breakpoint-down(xxl){
    min-height: auto;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url($img-path + "services/service_detail_banner_bg.png");
  }

  .services-details-banner-content {
    gap: 40px;
    grid-template-columns: 3.5fr 6.5fr;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    @include breakpoint-down(lg){
      grid-template-columns: 100%;
    }
  }
}

.atech-services-deliverables {
  .services-deliverables-list {
    .deliverables {
      &-count-icon {
        width: 80px;
        height: 80px;

        @include breakpoint-down(xxl){
          width: 72px;
          height: 72px;
        }

        @include breakpoint-down(xl){
          width: 64px;
          height: 64px;
        }
      }
    }
  }
}

// Your color sequence (keys from $colors map)
$process-color-keys: ("turquoise", "blue-violet", "coral", "crayola", "emerald", "school-bus-yellow");

// Function to get the actual color value from $colors map
@function get-process-color($index) {
  $key: list.nth($process-color-keys, $index);
  @return map.get($colors, $key);
}

.atech-services-process {
  .services-process {
    &-list {
      @for $list-index from 1 through 20 {
        // assume max 20 lists
        &:nth-of-type(#{$list-index}) {
          .services-process-item {
            @for $item-index from 1 through 3 {
              &:nth-of-type(#{$item-index}) {
                // Calculate the absolute color index across all lists
                $absolute-index: (($list-index - 1) * 3) + $item-index;

                // Modulo logic to loop over 6 colors
                $color-position: (($absolute-index - 1) % list.length($process-color-keys)) + 1;

                .services-process-icon {
                  background-color: get-process-color($color-position);
                }
              }
            }
          }
        }
      }

      &:not(:last-child) {
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 160px;
          background: url($img-path + "services/dashed_two_end_wideline.svg") center/contain no-repeat;
        }
      }
    }
    &-item {
      &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: 140px;
        height: 100%;
        background: url($img-path + "services/dashed_arrow_right.svg") center/contain no-repeat;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    &-arrow {
      &:last-child {
        display: none !important;
      }
    }

    &-list {
      column-gap: 140px;
      &-group {
        gap: 160px;
      }
    }

    &-icon {
      width: 120px;
      height: 120px;
    }

    &-count {
      width: 48px;
      height: 48px;
      min-width: 48px;
      min-height: 48px;
      right: -26px;
    }
  }
}

.atech-services-details-two {
  &-container {
    grid-template-columns: 45% auto;
    gap: 60px;

    @include breakpoint-down(xxl){
      grid-template-columns: 100%;
      gap: 48px;
    }

    @include breakpoint-down(lg){
      gap: 40px;
    }

    @include breakpoint-down(md){
      gap: 32px;
    }
  }

  .services-details-two-slider {
    padding-bottom: 80px !important;

    @include breakpoint-down(xxl){
      max-width: 800px;
    }

    .swiper-pagination-bullet {
      width: 60px;
      height: 6px;
      border-radius: 0 !important;
    }
  }
}

.atech-services-excellence {
  .services-excellence-grid {
    .excellence-item {
      background: linear-gradient(to bottom, rgba(225, 239, 249, 0.4) 8%, #ebf5fb 46%, rgba(235, 245, 251, 0.1) 100%);

      &-icon {
        width: 100px;
        height: 100px;
      }

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          .excellence-item-icon {
            background-color: get-process-color($i);
          }
        }
      }
    }
  }
}

.atech-services-details-three {
  .services-details-three {
    &-head {
      gap: 60px;

      @include breakpoint-down(xxl){
        gap: 0;
      }
    }
  }

  .services-details-three {
    &-item {
      &-count {
        width: 100px;
        height: 100px;
        min-width: 100px;

        @include breakpoint-down(xxl){
          width: 80px;
          height: 80px;
          min-width: 80px;
        }

        @include breakpoint-down(xl){
          width: 72px;
          height: 72px;
          min-width: 72px;
        }

        @include breakpoint-down(sm){
          width: 60px;
          height: 60px;
          min-width: 60px;
        }

        @include breakpoint-down(xs){
          width: 52px;
          height: 52px;
          min-width: 52px;
        }
      }
    }
  }
}
